<div class="footer">
  <div class="logo-fot">
    <img class="foot" src="assets/images/foot.png">
    <div class="ponzoo"><p>MASKOTEANDO</p></div>
  </div>
  <div class="social-media">
    <p>¡Seguinos en las redes!</p>
    <ul class="logos">
      <li>
        <a href="https://www.facebook.com/"><img src="assets/images/facebook.png" alt="Facebook"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/"><img src="assets/images/instagram.png" alt="Instagram"></a>
      </li>
      <li>
        <a href="https://www.gmail.com/"><img src="assets/images/email.png" alt="E-mail"></a>
      </li>
    </ul>
  </div>
</div>
