<div class="body-page">
  <div class="description">
    <h2>PRINCIPAL</h2>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7875332920307!2d-78.51926862639047!3d-0.22508439977269634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a28366b3d81%3A0xc6029256689ed873!2sInstituto%20Superior%20Tecnol%C3%B3gico%20Yavirac!5e0!3m2!1ses!2sec!4v1702238428375!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
    <h2>SUCURSALES</h2>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7875332920307!2d-78.51926862639047!3d-0.22508439977269634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a28366b3d81%3A0xc6029256689ed873!2sInstituto%20Superior%20Tecnol%C3%B3gico%20Yavirac!5e0!3m2!1ses!2sec!4v1702238428375!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row" style="text-align: center;">
      <div class="col ms-md-auto vets">
        <img src="assets/images/grid-bootstrap/10-ideas-de-franquicias-de-tiendas-para-mascotas.jpg" alt="Sucursales">
      </div>
      <div class="col ms-md-auto vets">
        <img src="assets/images/grid-bootstrap/franquicias-de-tiendas-para-mascotas.jpg" alt="Sucursales">
      </div>
      <div class="col ms-md-auto vets">
        <img src="assets/images/grid-bootstrap/RCBVRIKJFZAXFF63LUCR4Y3JZU.jpg" alt="Sucursales">
      </div>
      <div class="col ms-md-auto vets">
        <img src="assets/images/grid-bootstrap/tiendas-mascotas-cdmx-canitor-1024x767.jpg" alt="Sucursales">
      </div>
    </div>
  </div>
</div>
