<div class="body-page">
   <div class="header">
    <div class="titulo">
      <h1>MASKOTEANDO - Tienda de Mascotas</h1>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mt-4 p-4">
          <h2 class="text-center">Formulario de contacto</h2>
          <form>
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" name="nombre" />
            </div>
            <div class="form-group">
              <label for="apellido">Apellido:</label>
              <input type="text" class="form-control" name="apellido" />
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono:</label>
              <input type="number" class="form-control" name="telefono" />
            </div>
            <div class="form-group">
              <label for="asunto">Asunto:</label>
              <input type="text" class="form-control" name="asunto" />
            </div>
            <div class="form-group">
              <label for="mensaje">Mensaje:</label>
              <textarea id="mensaje" class="form-control" name="mensaje" placeholder="Escribe algo..." style="height: 200px"></textarea>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button class="btn btn-success btn-block">Enviar</button>
              </div>
              <div class="col">
                <button class="btn btn-danger btn-block">Regresar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
