<div class="body-page">
  <div class="description">
      <p class=parrafo> Tienda De Mascotas es una empresa dedicada al rubro de animales de compañia. Brindamos a nuestros clientes asesoramiento basado en nuestra experiencia y conocimientos haciendolo con compromiso y empatía.

      </p>
      <p class=parrafo>Entendemos que trabajamos con seres vivos y para ello, basados en el respeto que les tenemos, tomamos todos los recaudos para su bienestar. Nos capacitamos para dar un servicio de calidad y ofrecer los mejores productos que se puedan encontrar en el mercado para nuestros clientes y sus mascotas.

      </p>
      <p class=parrafo>Nuestras instalaciones para el alojamiento de mascotas se adecuan según los estándares mas exigentes cuidando el bienestar de los animales en nuestras tiendas.

      </p>
      ¡Nuestra misión nos inspira!

  </div>
  <div class="header">
    <div class="titulo">
      <h1>MASKOTEANDO - Tienda de Mascotas</h1>
    </div>
  </div>
</div>
