<div class="body-page">
  <div class="services">
    <div class="serv">
      <img src="assets/images/Grooming-300x270.png" alt="Baño y Peluquería" id="imgscs">
      <p>
        En nuestras sucursales contamos con servicio profesional de peluquería canina y felina. Se realizan cortes de raza, higiénicos y baños sanitarios. Utilizamos productos hipoalergénicos y de alta calidad acorde al pelaje y tipo de piel de cada animal. Ellos son importantes para nosotros, son tratados éticamente y con responsabilidad.
        <br>
        El baño y peluquería no es solamente para mantener la limpieza de su perro o para que se vea bonito. El baño es para mantener la salud física de su perro además de la apariencia.
        <br>
        Es importante entrenar al cachorro desde pequeño para que más adelante acepte los baños fácilmente especialmente cuando se hace limpieza de oídos y corte de uñas.
      </p>
    </div>
    <div class="serv">
      <img src="assets/images/Vet-300x270-1-300x270.png" alt="Veterinaria" id="imgscs">
      <p>
        En MASKOTEANDO: Tienda de Mascotas creemos que la salud de los animales es un aspecto de suma  importancia tanto para bienestar de ellos como en el de toda la familia.<br>
        Le brindamos atención veterinaria para sus animales tanto en prevención, vacunas, desparasitación interna y externa así como para restablecer su salud.
        <br>
        ¡Con nosotros trabajan médicos veterinarios comprometidos!
      </p>
    </div>
    <div class="serv">
      <img src="assets/images/Pets-300x270-1-300x270.png" alt="Mascotas" id="imgscs">
      <p>
        En nuestros locales Neozoo Tienda De Mascotas podrá encontrar su mascota ideal. Le ayudaremos para que pueda elegir el animal que se adapte mejor a sus deseos, necesidades y estilo de vida.
        Contamos con Perros y gatos de razas de criaderos propios y altamente reconocidos por su trayectoria, brindándole tranquilidad y asesoramiento para realizar los trámites de pedigree.
         Tenemos una amplia variedad de roedores domésticos como hámsteres y cobayos; también conseguirá conejos, aves y peces.
      </p>

        <p class=parrafo>
          odrá encontrar aves de granja como pollitos, codornices, gallinas, patos, pavos reales, faisanes, y todos los accesorios y alimentos adecuados para ellos
         También podrás decorar tu casa y balcón con plantas de interior, aromáticas y florales como así también todo lo necesario para su cuidado y crecimiento
          Las personas que trabajan en nuestros locales están capacitadas para ofrecerle las sugerencias y recomendaciones adecuadas para el cuidado específico que requiere su animal
     </p>
    </div>
  </div>
</div>
